/** us */

#us {
  background-image: linear-gradient(
    to top,
    rgb(87, 87, 72),
    brown,
    rgb(241, 241, 181)
  );
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem;
}

.photos {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  align-items: center;
}

.photos img {
  transition: 0.5s ease-in-out;
}

.photos img:hover {
  transform: translateY(-5px);
  transform: scale(2);
  margin-right: 2rem;
  border: 2px solid rgb(139, 5, 5);
  border-top-color: rgb(247, 247, 247);
  border-bottom-color: rgb(0, 0, 0);
}

/** navegacoes */
#navegacoes {
  background-image: linear-gradient(
    to bottom,
    rgb(87, 87, 72),
    rgb(71, 71, 71),
    rgb(68, 68, 0)
  );
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  gap: 2rem;
}

#navegacoes div {
  margin: 2rem;
}

#navegacoes h2,
h3 {
  text-align: center;
  text-transform: uppercase;
  animation-duration: 5s; /* Animation lasts 3 seconds */
  animation-name: wave;
  animation-iteration-count: infinite;
  color: wheat;
}

@keyframes wave {
  0% {
    transform: translateY(-40px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(-40px);
  }
}

@keyframes waveTwo {
  0% {
    transform: translateX(-40px);
  }

  25% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(-40px);
  }
}

.navImg {
  border-radius: 20px;
  height: 400px;
  display: flex;
  justify-content: space-around;
}

.esferaCeleste {
  border-radius: 80%;
  transition: 0.5s ease-in-out;
}

.esferaCeleste:hover {
  border-radius: 10%;
}

.text {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

span {
  display: flex;
  width: 30%;
  height: 160px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 8px;
  position: relative;
  background-image: linear-gradient(to left, rgb(98, 126, 0), brown);
  z-index: 1;
  line-height: 2rem;
  font-size: 18px;
}

span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, rgb(98, 126, 0), brown);
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: -1;
  border-radius: 8px;
}

span:hover::before {
  opacity: 1;
  transform: scale(1.1);
}

.esfera,
.lati {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imgLat {
  width: 400px;
  border-radius: 40px;
  transition: 0.5s ease-in-out;
}

.imgLat:hover {
  border-radius: 1%;
  width: 600px;
}

#astronomia {
  background-image: linear-gradient(
    to top,
    rgb(11, 1, 71),
    rgb(49, 47, 65),
    rgb(68, 68, 0)
  );
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  gap: 2rem;
}

#astronomia h2 {
  text-align: center;
  text-transform: uppercase;
  animation-duration: 5s;
  animation-name: wave;
  animation-iteration-count: infinite;
  color: wheat;
}

.firstAst {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

.firstAst h3 {
  text-align: center;
  text-transform: uppercase;
  animation-duration: 5s;
  animation-name: waveTwo;
  animation-iteration-count: infinite;
  color: rgb(155, 132, 0);
}

.dagon {
  width: 400px;
  border-radius: 20px;
}

#imgDag {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns #btnTwo,
#btnT {
  width: 200px;
  height: 70px;
  border-radius: 9px;
  border: none;
  color: white;
  background-image: linear-gradient(to bottom, rgb(49, 47, 65), black);
  transition: 0.5s ease-in-out;
}

.btns #btnTwo,
#btnT:active {
  background-image: linear-gradient(to top, rgb(2, 2, 156), rgb(46, 46, 46));
}

.navImg,
.esferaCeleste,
.imgLat,
.bImg {
  filter: blur(4px);
  transition: 0.5s ease-in-out;
}

.navImg:hover,
.esferaCeleste.esferaCeleste:hover,
.imgLat:hover,
.bImg:hover {
  filter: none;
}

.siriusB {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

.bImg {
  border-radius: 20px;
  width: 400px;
}

.bImg:hover {
  width: 500px;
}

.span {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

h3 {
  color: rgb(207, 114, 0);
}

footer {
  background-image: linear-gradient(
    to bottom,
    rgb(11, 1, 71),
    rgb(49, 47, 65),
    rgb(207, 207, 2)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

footer p {
  margin-top: 2rem;
}

.sun {
  width: 900px;
  margin-top: 2rem;
  animation-name: sun;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: ease-in-out;
}

hr {
  height: 10px;
  background-color: black;
  border: none;
}

@keyframes sun {
  0%,
  100% {
    filter: none;
  }

  50% {
    filter: contrast(70%);
    filter: brightness(60%);
  }
}

.ref1 {
  text-align: center;
  color: white;
  margin: 1rem;
}

.photos img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid black;
  border-top-color: brown;
  border-bottom-color: blue;
}

