/** us */

#us {
  background-image: linear-gradient(
    to top,
    rgb(87, 87, 72),
    brown,
    rgb(241, 241, 181)
  );
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photos {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.photos img {
  transition: 0.5s ease-in-out;
}

.photos img:hover {
  transform: translateY(-5px);
  transform: scale(2);
  margin-right: 2rem;
}

/** navegacoes */
#navegacoes {
  background-image: linear-gradient(
    to bottom,
    rgb(87, 87, 72),
    rgb(71, 71, 71),
    rgb(68, 68, 0)
  );
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  gap: 2rem;
}

#navegacoes h2 {
  text-align: center;
  text-transform: uppercase;
}

.navImg {
  border-radius: 20px;
  height: 400px;
}

.esferaCeleste {
  border-radius: 80%;
}

.text {
    display: flex;
    justify-content: space-between;
}

.text span {
    width: 300px;
    text-align: center;
    color
}