* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#navUl {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 1rem;

}

.navLi {
    list-style: none;
}

.anchorList {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: ease-in-out 0.5s;
    transform: mover ease-in-out 3s;
}

.anchorList:hover {
    color: rgb(244, 244, 159);
    transform: mover ease-in-out 3s;
}

header {
    background-color: rgb(0, 0, 52);
    height: 40px;
    align-content: center;
}
