* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

body {
  background-color: rgb(241, 241, 181);
}

nav {
  background-image: linear-gradient(to left, rgb(177, 177, 1), brown, rgb(0, 0, 43));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.navPosition {
  position: sticky;
  width: -webkit-fill-available;
  top: 0;
}

#logo {
  width: 50px;
}

.hidden {
  display: none;
}

.hidden_media {
  display: none;
}

.nav_ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.paths {
  text-transform: uppercase;
  background: none;
  list-style: none;
  transition: 0.5s ease-in-out;
}

.paths a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.paths a:hover {
  transition: 500ms;
  color: white;
}

.paths:hover {
  transition: 1000ms;
  transform: translateY(-5px);
  transform: scale(1.2);
}

/*! hamburger */

#burgerMenu {
  position: relative;
  width: 20px;
  cursor: pointer;
  align-self: center;
}

#burgerMenu:hover {
  filter: invert(100%);
  transition: 500ms;
}

#closeOption {
  position: relative;
  width: 20px;
  cursor: pointer;
  padding: 18px;
  left: 18px;
  /* left: 5px;
  bottom: 14.7rem; */
}

#closeOption:hover {
  filter: invert(100%);
  transition: 500ms;
}

@media (max-width: 768px) {
  .hidden_media {
    display: block;
  }

  .hidden_media_close {
    display: none;
  }

  .nav_ul {
    display: none;
  }

  .navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 20px;
  }

  #closeOption {
    align-self: end;
  }

  nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: row;
  }

  #logo {
    align-self: baseline;
  }

  .navChange {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 200px;
    width: -webkit-fill-available;
    /* height: -webkit-fill-available; */
    top: 0;
  }

  .blur {
    filter: blur(3px);
    pointer-events: none;
    /* display: none; */
  }
}


main {
  padding-top: 1rem;
}

